<div class="newsletter-wrapper" id="newsletter-wrapper">
    <h2 class="subtitle">Subscribe to our newsletter</h2>

    <form v-on:submit.prevent="onSubmit">
        <div class="field has-addons">
            <div class="control">
                <input type="email" v-model="email" name="email" class="input" placeholder="Your e-mail address...">
            </div>
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>

    <div class="notification is-success" v-if='showSuccess'>
        The email address was saved!
    </div>

</div>

<script>
    var newsletter = new Vue({
        el: '#newsletter-wrapper',
        data () {
            return {
                email: '',
                showSuccess: false
            }
        },
        methods: {
            onSubmit() {
                var data = {
                    'email': this.email
                }

                fetch('/api/add_subscriber/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    this.showSuccess = true;
                    this.email = '';
                    console.log(data)
                })
                .catch((error) => {
                    this.showSuccess = false;
                    console.log('Error: ', error);
                });
            }
        }
    });
</script>